* {
  box-sizing: border-box;
}

body {
  background-color: grey;

}

.App {
  padding: 0 0 50px 0;
}

/* .chats {
  outline: 1px solid black;

} */

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.MuiTextField-root {
  width: 600px;
}
